:root {
    --color-primary-light: #cf6ec3;
    --color-primary-dark: #b924a6;
    --color-grey-light-1: #f4f2f2;
    --color-grey-light-2: #f0eeee;
    --color-grey-light-3: #888;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #2a2a72;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


.user-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #fff;
    font-family:  sans-serif;
    font-size: 1.5rem;
}

.input-search {
    border-radius: 10%;
    margin-bottom: .5rem;
}

.code-text-container {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.code-text {
    display: inline-block;
    color: #3fb950;
    /*font-size: 1rem;*/
    font-weight: bold;
    font-family: Mono, monospace;
    margin-bottom: 1rem;
}

.code-text::after {
    content: " $ ";
    color: #fff;
    margin-right: .5rem;
}

.code-pink {
    color: #ea4aaa;
}

.Prompt-cursor {
    height: 1rem;
    width: .5rem;
    background: white;
    display: inline-block;
    animation: 600ms ease infinite alternate blink;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--color-primary-light)), to(var(--color-primary-dark)));
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-transition: all .2s;
    transition: all .2s
}

.btn__visible {
    padding: 1rem 7.5rem
}

.btn__invisible {
    position: absolute;
    padding: 1rem 0;
    left: 0;
    top: -100%
}

.btn:hover {
    background-image: -webkit-gradient(linear, right top, left top, from(var(--color-primary-light)), to(var(--color-primary-dark)));
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark))
}

.btn:hover .btn__visible {
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

.btn:hover .btn__invisible {
    top: 0
}

.btn:focus {
    outline: none;
    -webkit-animation: pulsate 1s infinite;
    animation: pulsate 1s infinite
}

.search-input {
    font-family: inherit;
    font-size: inherit;
    color: #000;
    background-color: var(--color-grey-light-1);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    align-self: center;
    -webkit-transition: all .2s;
    transition: all .2s;
    margin-bottom: .5rem;
    /*margin-right: -3.25rem*/
}

.search-input:focus {
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-2)
}

.search-input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-light-3)
}

.search-input:focus {
    background-color: var(--color-grey-light-2)
}

.card {
    background-color: #f9f7f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
    color: #6D5D4B;
    margin-top: 1rem;
}

.card-img {
    width: 22rem;
    height: 22rem;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
}

.card-like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #c69963;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2;
    justify-self: end;
    margin: 1rem;
}

.card-name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 80%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    transform: translateY(50%);
}

.card-followers, .card-following {
    margin-top: 2.5rem;
}

.card-followers, .card-following, .card-gists, .card-repos {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.card-followers svg, .card-following svg, .card-gists svg, .card-repos svg {
    fill: #c69963;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.card-btn {
    grid-column: 1 / -1;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family:  sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;
}

.home-btn:hover {
    background-color: #B28451;
}